{% extends "base.html" %}

{% block content %}

  <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">{{ club.club_name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="posts">Posts</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ club.club_name}}</h5>
    <p class="card-text">Secretary : {{ club.club_secretary}}</p>
      <p class="card-text">Status : {{ club.club_status}}</p>
    <a href="#" class="btn btn-primary">Contact</a>
  </div>
</div>

{% endblock %}
