{% extends "base.html" %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="home">{{ club.club_name}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="posts">Posts</a>
            </li>
        </ul>
    </div>
</div>
{% for u in urls %}
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{u.post.post_id}}</h5>
            <p class="card-text">{{ u.post.post_content }}</p>
            <p class="card-text">{{ u.post.post_likes }}</p>
            <p class="card-text">
                <small class="text-muted">Post by {{ club.club_name }}</small>
            </p>
        </div>
        <img src='{{u.url}}' class="card-img-top" alt='{{u}}' style="background-color: grey">
    </div>
</div>
{% endfor %}

{% endblock %}
